MarsIOS/Podfile.lock
MarsIOS/Pods/
MarsIOS/.DS_Store
MarsIOS/MarsIOS.xcworkspace/
.DS_Store
/.idea/
/MarsApi/Dns.СozyHome/.vs/
/MarsApi/Dns.СozyHome/Dns.СozyHome/bin/
/MarsApi/Dns.СozyHome/Dns.СozyHome/obj/
